.nav{
    display: flex;
    justify-content: center;
}
.nav__title{
    font-family: arial;
    font-size: 3rem;
}
.datePicker{
    margin:1rem;
}
h2{
    font-size: 1.8rem;
    margin: 1rem;
}
.water{
    display: flex;
    justify-content:space-evenly;
}
.form{
    margin: 1rem;
}